.list {
  width: 100%;
  margin-top: 10px;

  .listTitle {
    font-weight: 500;
    font-style: 20px;
    color: white;
    margin-left: 50px;
  }
}

.wrapper {
  color: white;
  .container {
    margin-left: 50px;
    display: flex;
    width: max-content;
  }
}
